doctype html
html
  head
    title Kakuro solver
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    
    
  body
    div.container
      div.row
        div.col-sm-12
          h1 Kakuro solver
      div.row
        div.col-sm-4
          p A Kakuro is a Japanese number puzzle with the following rules:
          ul
            li Each row and column must add up to the number directly above or to the left of it;
            li you can only use the numbers one to nine;
            li each number in the row or column must be distinct.
        #kakuro-container.col-sm-8
    
    //- script(id='kakuro-template', type='text/ractive')
      //- include kakuro.jade
    script(src='https://code.jquery.com/jquery-2.2.1.js')
    //- script(src='http://cdn.ractivejs.org/latest/ractive.js')
    script(src='js/kakuro.js')
  
