doctype html
html
  head
    title Kakuro solver
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    script(src='js/kakuro.js')
  body
    div.container
      div.row
        div.col-sm-3
          h1 Kakuro solver
          p A Kakuro is a Japanese number puzzle with the following rules:
          ul
            li Each row and column must add up to the number directly above or to the left of it;
            li you can only use the numbers one to nine;
            li each number in the row or column must be distinct.
